* {
    box-sizing: border-box;
}

html {
    background-color: rgb(17, 15, 15);
}

a {
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }