.loading-gif {
    filter: invert(85%) sepia(100%) saturate(31%) hue-rotate(71deg) brightness(108%) contrast(107%);
    width: 50px;
}

#main-list {
    display: flex;

flex-direction: column;
justify-content: center;
align-items: center;}
