@import '/src/components/base/settings.scss';

.article-card * {
  color: $offwhite;
}

.article-card {
  padding: 2em;
  background-color: $card-background;
  margin: 1em 1em 1em 1em;
  @media (min-width: $desktop-breakpoint) {
    max-width: 60em;
    width: 100%;
    margin-bottom: 1em;
  }
}

.article-card-title {
    font-family: 'mermaid';
}
